*.properties
*.xpr
*.sublime-project
*.sublime-workspace
node_modules
bower_components
.DS_Store
exist-secrets.json
build
*.xar
admin.xqm
backstop_data/bitmaps_test
backstop_data/html_report
backstop_data/json_report
backstop_data/json_report
betterform/target

docker/exist-data/*
!docker/exist-data/.keep

