{
	"local": {
  		"host": "localhost",
		"externalUrl": "localhost:8080",
  		"port": 8080,
  		"path": "/xmlrpc",
  		"basic_auth": {
  			"user": "admin",
  			"pass": ""
  		},
		"image_path": "/nfs/cceh/projects/images-totenbuch"
	},
	"local-docker": {
  		"host": "localhost",
		"externalUrl": "localhost:8080",
  		"port": 8080,
  		"path": "/xmlrpc",
  		"basic_auth": {
  			"user": "admin",
  			"pass": ""
  		},
		"image_path": "/totenbuch/images"
	},
	"dev": {
  		"host": "dev.cceh.uni-koeln.de",
  		"port": 8080,
  		"path": "/xmlrpc",
  		"basic_auth": {
  			"user": "admin",
  			"pass": "XXXXXXXXX"
  		},
  		"image_path": "/nfs/cceh/projects/images-totenbuch"
	},
	"live": {
		"externalUrl": "totenbuch.awk.nrw.de",
		"updateUrl": "archilochos.cceh.uni-koeln.de:8082",
  		"host": "archilochos.cceh.uni-koeln.de",
  		"port": 8082,
  		"path": "/xmlrpc",
  		"basic_auth": {
  			"user": "admin",
  			"pass": "XXXXXXXX"
  		},
		"image_path": "/nfs/cceh/projects/images-totenbuch"
	}
}
