<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:xf="http://www.w3.org/2002/xforms">
    <head>
        <title data-template="config:app-title">eNahar</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="../nabu/resources/scripts/bootstrap-3.3.4/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="$shared/resources/scripts/jquery/css/smoothness/jquery.ui.all.css"/>
        <link rel="stylesheet" href="../nabu/resources/scripts/jquery/tablesorter-2.22/css/theme.blue.min.css"/>
        <style>
.ui-autocomplete-loading {
background: white url('resources/images/ui-anim_basic_16x16.gif') right center no-repeat;
}
@media print {
    .span2 {
      display: none !important;
    }    
}
</style>
        <link href="../nabu/resources/scripts/jquery/bootstrap-datepicker-1.6/css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet"/>
        <script src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script src="$shared/resources/scripts/jquery/jquery-ui.min.js"/>
        <script src="$shared/resources/scripts/jquery/jquery-utils.js"/>
        <script src="$shared/resources/scripts/loadsource.js"/><!-- <script src="../nabu/resources/scripts/bootstrap-3.3.4/js/bootstrap.min.js"/> -->
        <script src="../nabu/resources/scripts/jquery/tablesorter-2.22/js/jquery.tablesorter.min.js"/>
        <script src="../nabu/resources/scripts/jquery/tablesorter-2.22/js/jquery.tablesorter.widgets.min.js"/>
        <script src="../nabu/resources/scripts/jquery/tablesorter-2.22/js/widgets/widget-scroller.min.js"/>
        <script src="../nabu/resources/scripts/jquery/tablesorter-2.22/js/widgets/widget-filter.min.js"/>
        <script src="../nabu/resources/scripts/jquery/bootstrap-datepicker-1.6/js/bootstrap-datepicker.min.js"/>
        <script src="../nabu/resources/scripts/jquery/bootstrap-datepicker-1.6/locales/bootstrap-datepicker.de.min.js"/>
        <script src="../nabu/resources/scripts/jquery/select2-4.0/select2.full.js"/>
        <link href="../nabu/resources/scripts/jquery/select2-4.0/select2.css" rel="stylesheet"/>
        <link rel="stylesheet" href="../nabu/resources/scripts/jquery/fullcalendar-2.6.0/fullcalendar.css"/>
        <link rel="stylesheet" href="../nabu/resources/scripts/jquery/fullcalendar-2.6.0/fullcalendar.print.css" media="print"/><!-- newest moment.js conflicts without loader -->
        <script src="../nabu/resources/scripts/jquery/fullcalendar-2.3.1/lib/moment.min.js"/>
        <script src="../nabu/resources/scripts/jquery/fullcalendar-2.6.0/fullcalendar.js"/>
        <link href="../nabu/resources/scripts/jquery/qtip-2.2.1/jquery.qtip.min.css" rel="stylesheet" type="text/css"/>
        <script src="../nabu/resources/scripts/jquery/qtip-2.2.1/jquery.qtip.min.js"/><!-- -->
        <link rel="stylesheet" type="text/css" href="../nabu/resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" media="print" href="../nabu/resources/css/print.css"/>
    </head>
    <body id="body">
        <div class="banner"/>
        <div role="navigation" class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                        <span class="icon-bar"/>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="config:app-title navbar-brand" href="./index.html" data-toggle="collapse" data-target=".navbar-collapse">App Title</a>
                        </li>
                        <li>
                            <a class="logout" href="./index.html?logout=true">logout</a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </div>
        <div id="content-wrapper">
            <div id="content" class="container content"/>
        </div>
        <script type="text/javascript" defer="defer">
        	require(["dojo/ready","dojo/domReady!"], function(ready){{
	        	ready(function(){{
				fluxProcessor.skipshutdown=true;
                fluxProcessor.setLocale("de"); 
			    }})
		    }})
	    </script>
    </body>
</html><!--
        <link href="resources/scripts/simple-dtpicker/jquery.simple-dtpicker.css" rel="stylesheet"/>
        <script src="resources/scripts/simple-dtpicker/jquery.simple-dtpicker.js"/>
        <script type="text/javascript" src="resources/scripts/jasny/rowlink.js"/>
        <link rel="stylesheet" type="text/css" href="resources/scripts/jasny/jasny-bootstrap.css"/>
   
        <link href="resources/scripts/jquery/minicolors2/jquery.minicolors.css" rel="stylesheet" type="text/css"/>
        <script src="resources/scripts/jquery/minicolors2/jquery.minicolors.js" type="text/javascript"/>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="./index.html?action=edit" class="dropdown-toggle" data-toggle="dropdown">Calender<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./index.html?action=edit&what=service">Sprechstunden</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=meeting">Meetings</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=worktime">Arbeitszeiten</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=absent">Abwesenheiten</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="./index.html?action=workload">Auslastung</a>
                        </li>
                        <li class="dropdown">
                            <a href="./index.html?action=edit" class="dropdown-toggle" data-toggle="dropdown">Resourcen<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./index.html?action=edit&what=scheds">Sprechstunden</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=users">Erbringer</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=rooms">Räume</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
--><!--
        <link href="resources/scripts/simple-dtpicker/jquery.simple-dtpicker.css" rel="stylesheet"/>
        <script src="resources/scripts/simple-dtpicker/jquery.simple-dtpicker.js"/>
        <script type="text/javascript" src="resources/scripts/jasny/rowlink.js"/>
        <link rel="stylesheet" type="text/css" href="resources/scripts/jasny/jasny-bootstrap.css"/>
   
        <link href="resources/scripts/jquery/minicolors2/jquery.minicolors.css" rel="stylesheet" type="text/css"/>
        <script src="resources/scripts/jquery/minicolors2/jquery.minicolors.js" type="text/javascript"/>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="./index.html?action=edit" class="dropdown-toggle" data-toggle="dropdown">Calender<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./index.html?action=edit&what=service">Sprechstunden</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=meeting">Meetings</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=worktime">Arbeitszeiten</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=absent">Abwesenheiten</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="./index.html?action=workload">Auslastung</a>
                        </li>
                        <li class="dropdown">
                            <a href="./index.html?action=edit" class="dropdown-toggle" data-toggle="dropdown">Resourcen<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./index.html?action=edit&what=scheds">Sprechstunden</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=users">Erbringer</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=rooms">Räume</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
--><!--
        <link href="resources/scripts/simple-dtpicker/jquery.simple-dtpicker.css" rel="stylesheet"/>
        <script src="resources/scripts/simple-dtpicker/jquery.simple-dtpicker.js"/>
        <script type="text/javascript" src="resources/scripts/jasny/rowlink.js"/>
        <link rel="stylesheet" type="text/css" href="resources/scripts/jasny/jasny-bootstrap.css"/>
   
        <link href="resources/scripts/jquery/minicolors2/jquery.minicolors.css" rel="stylesheet" type="text/css"/>
        <script src="resources/scripts/jquery/minicolors2/jquery.minicolors.js" type="text/javascript"/>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="./index.html?action=edit" class="dropdown-toggle" data-toggle="dropdown">Calender<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./index.html?action=edit&what=service">Sprechstunden</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=meeting">Meetings</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=worktime">Arbeitszeiten</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=absent">Abwesenheiten</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="./index.html?action=workload">Auslastung</a>
                        </li>
                        <li class="dropdown">
                            <a href="./index.html?action=edit" class="dropdown-toggle" data-toggle="dropdown">Resourcen<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./index.html?action=edit&what=scheds">Sprechstunden</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=users">Erbringer</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=rooms">Räume</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
--><!--
        <link href="resources/scripts/simple-dtpicker/jquery.simple-dtpicker.css" rel="stylesheet"/>
        <script src="resources/scripts/simple-dtpicker/jquery.simple-dtpicker.js"/>
        <script type="text/javascript" src="resources/scripts/jasny/rowlink.js"/>
        <link rel="stylesheet" type="text/css" href="resources/scripts/jasny/jasny-bootstrap.css"/>
   
        <link href="resources/scripts/jquery/minicolors2/jquery.minicolors.css" rel="stylesheet" type="text/css"/>
        <script src="resources/scripts/jquery/minicolors2/jquery.minicolors.js" type="text/javascript"/>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="./index.html?action=edit" class="dropdown-toggle" data-toggle="dropdown">Calender<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./index.html?action=edit&what=service">Sprechstunden</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=meeting">Meetings</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=worktime">Arbeitszeiten</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=absent">Abwesenheiten</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="./index.html?action=workload">Auslastung</a>
                        </li>
                        <li class="dropdown">
                            <a href="./index.html?action=edit" class="dropdown-toggle" data-toggle="dropdown">Resourcen<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./index.html?action=edit&what=scheds">Sprechstunden</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=users">Erbringer</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=rooms">Räume</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
--><!--
        <link href="resources/scripts/simple-dtpicker/jquery.simple-dtpicker.css" rel="stylesheet"/>
        <script src="resources/scripts/simple-dtpicker/jquery.simple-dtpicker.js"/>
        <script type="text/javascript" src="resources/scripts/jasny/rowlink.js"/>
        <link rel="stylesheet" type="text/css" href="resources/scripts/jasny/jasny-bootstrap.css"/>
   
        <link href="resources/scripts/jquery/minicolors2/jquery.minicolors.css" rel="stylesheet" type="text/css"/>
        <script src="resources/scripts/jquery/minicolors2/jquery.minicolors.js" type="text/javascript"/>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="./index.html?action=edit" class="dropdown-toggle" data-toggle="dropdown">Calender<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./index.html?action=edit&what=service">Sprechstunden</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=meeting">Meetings</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=worktime">Arbeitszeiten</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=absent">Abwesenheiten</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="./index.html?action=workload">Auslastung</a>
                        </li>
                        <li class="dropdown">
                            <a href="./index.html?action=edit" class="dropdown-toggle" data-toggle="dropdown">Resourcen<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./index.html?action=edit&what=scheds">Sprechstunden</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=users">Erbringer</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=rooms">Räume</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
--><!--
        <link href="resources/scripts/simple-dtpicker/jquery.simple-dtpicker.css" rel="stylesheet"/>
        <script src="resources/scripts/simple-dtpicker/jquery.simple-dtpicker.js"/>
        <script type="text/javascript" src="resources/scripts/jasny/rowlink.js"/>
        <link rel="stylesheet" type="text/css" href="resources/scripts/jasny/jasny-bootstrap.css"/>
   
        <link href="resources/scripts/jquery/minicolors2/jquery.minicolors.css" rel="stylesheet" type="text/css"/>
        <script src="resources/scripts/jquery/minicolors2/jquery.minicolors.js" type="text/javascript"/>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="./index.html?action=edit" class="dropdown-toggle" data-toggle="dropdown">Calender<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./index.html?action=edit&what=service">Sprechstunden</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=meeting">Meetings</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=worktime">Arbeitszeiten</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=absent">Abwesenheiten</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="./index.html?action=workload">Auslastung</a>
                        </li>
                        <li class="dropdown">
                            <a href="./index.html?action=edit" class="dropdown-toggle" data-toggle="dropdown">Resourcen<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./index.html?action=edit&what=scheds">Sprechstunden</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=users">Erbringer</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=rooms">Räume</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
--><!--
        <link href="resources/scripts/simple-dtpicker/jquery.simple-dtpicker.css" rel="stylesheet"/>
        <script src="resources/scripts/simple-dtpicker/jquery.simple-dtpicker.js"/>
        <script type="text/javascript" src="resources/scripts/jasny/rowlink.js"/>
        <link rel="stylesheet" type="text/css" href="resources/scripts/jasny/jasny-bootstrap.css"/>
   
        <link href="resources/scripts/jquery/minicolors2/jquery.minicolors.css" rel="stylesheet" type="text/css"/>
        <script src="resources/scripts/jquery/minicolors2/jquery.minicolors.js" type="text/javascript"/>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="./index.html?action=edit" class="dropdown-toggle" data-toggle="dropdown">Calender<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./index.html?action=edit&what=service">Sprechstunden</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=meeting">Meetings</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=worktime">Arbeitszeiten</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=absent">Abwesenheiten</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="./index.html?action=workload">Auslastung</a>
                        </li>
                        <li class="dropdown">
                            <a href="./index.html?action=edit" class="dropdown-toggle" data-toggle="dropdown">Resourcen<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./index.html?action=edit&what=scheds">Sprechstunden</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=users">Erbringer</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=rooms">Räume</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
--><!--
        <link href="resources/scripts/simple-dtpicker/jquery.simple-dtpicker.css" rel="stylesheet"/>
        <script src="resources/scripts/simple-dtpicker/jquery.simple-dtpicker.js"/>
        <script type="text/javascript" src="resources/scripts/jasny/rowlink.js"/>
        <link rel="stylesheet" type="text/css" href="resources/scripts/jasny/jasny-bootstrap.css"/>
   
        <link href="resources/scripts/jquery/minicolors2/jquery.minicolors.css" rel="stylesheet" type="text/css"/>
        <script src="resources/scripts/jquery/minicolors2/jquery.minicolors.js" type="text/javascript"/>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="./index.html?action=edit" class="dropdown-toggle" data-toggle="dropdown">Calender<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./index.html?action=edit&what=service">Sprechstunden</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=meeting">Meetings</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=worktime">Arbeitszeiten</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=absent">Abwesenheiten</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="./index.html?action=workload">Auslastung</a>
                        </li>
                        <li class="dropdown">
                            <a href="./index.html?action=edit" class="dropdown-toggle" data-toggle="dropdown">Resourcen<b class="caret"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="./index.html?action=edit&what=scheds">Sprechstunden</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=users">Erbringer</a>
                                </li>
                                <li>
                                    <a href="./index.html?action=edit&what=rooms">Räume</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
-->